

.navbar.private {
    background-color:rgb(16, 112, 112);
  
}

.navbar.private a {
    color: aliceblue;
}

.dropdown-menu  {
    background-color:rgb(16, 112, 112);
}

.dropdown-menu li a:hover {
    background-color:rgba(110, 243, 243, 0.5)
}


/* .dropdown-menu {
    right: 0;
    left: auto;
  } */

/* .nav-bar {
    display: flex;
    width: 100vw;    
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: silver;
    padding: 1rem;

}

.nav-list ul  {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: 0 3rem;
    

}

.nav-list ul a {
    text-decoration: none;
    color: black;
}


.nav-list ul a.active {
    
    font-weight: bold;

    color: green;  

}

.nav-item h6 {
    font-weight: bold;
    color: rgb(1, 75, 80);
}

 */
